
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";
@import "nav";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.container {
    width: 100%;
    padding: 0;
    .jumbotron {
        background-image: url(../images/main-bg.jpg);
        background-size: 100%;
        border-radius: 0;
        h1 {
            font-family: 'PT Serif', serif;
        }
    }
}

#app {
    margin-top: 5rem;
}
